<a href="https://colab.research.google.com/github/dopplerchase/ATMS-597-SP-2020/blob/master/ATMS-597-SP-2020-Project-1/Notebook_to_rule_them_all.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/dopplerchase/ATMS-597-SP-2020.git

import os 

os.chdir('./ATMS-597-SP-2020/ATMS-597-SP-2020-Project-1/')

Cloning into 'ATMS-597-SP-2020'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 114 (delta 4), reused 0 (delta 0), pack-reused 102
Receiving objects: 100% (114/114), 339.03 KiB | 1.26 MiB/s, done.
Resolving deltas: 100% (51/51), done.

In [0]:
from Project1_GroupC_chase import MrT
from Project1_GroupC_dl import TempConvert
from Project1_GroupC_alex import tempConvert

from SUBMISSION import MrT as submission_object


import numpy as np

In [50]:
T = [0,100]
unit = 'C'
randy = MrT(data=T,unit=unit)
david = TempConvert(T,unit)
alex = tempConvert(T)
submission = submission_object(data=T,unit=unit)

#here is an example 
submission.toK()
print(submission.data,type(submission.data))
submission.toF()
print(submission.data,type(submission.data))
submission.toC()
print(submission.data,type(submission.data))

T = np.array([0,100])
unit = 'C'
randy = MrT(data=T,unit=unit)
david = TempConvert(T,unit)
alex = tempConvert(T)
submission = submission_object(data=T,unit=unit)

#here is an example 
submission.toK()
print(submission.data,type(submission.data))
submission.toF()
print(submission.data,type(submission.data))
submission.toC()
print(submission.data,type(submission.data))

[273.15, 373.15] <class 'list'>
[32.0, 212.0] <class 'list'>
[0.0, 100.0] <class 'list'>
[273.15 373.15] <class 'numpy.ndarray'>
[ 32. 212.] <class 'numpy.ndarray'>
[  0. 100.] <class 'numpy.ndarray'>